<a href="https://colab.research.google.com/github/dayothompson/Big-Data/blob/main/Level2/ETL_for_Big_Data2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import os
# Find the latest version of spark 2.0  from http://www-us.apache.org/dist/spark/ and enter as the spark version
# For example:
# spark_version = 'spark-2.4.7'
spark_version = 'spark-2.4.7'
os.environ['SPARK_VERSION']=spark_version
# Install Spark and Java
!apt-get update
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://www-us.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop2.7.tgz
!tar xf $SPARK_VERSION-bin-hadoop2.7.tgz
!pip install -q findspark
# Set Environment Variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop2.7"
# Start a SparkSession
import findspark
findspark.init()

Hit:1 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease
Ign:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Get:3 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Ign:4 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:5 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release
Hit:6 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Hit:7 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease
Hit:8 http://archive.ubuntu.com/ubuntu bionic InRelease
Hit:10 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Get:11 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Get:13 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Fetched 252 kB in 2s (151 kB/s)
Reading package lists... Done

In [ ]:
!wget https://jdbc.postgresql.org/download/postgresql-42.2.9.jar

--2020-11-01 00:19:27--  https://jdbc.postgresql.org/download/postgresql-42.2.9.jar
Resolving jdbc.postgresql.org (jdbc.postgresql.org)... 72.32.157.228, 2001:4800:3e1:1::228
Connecting to jdbc.postgresql.org (jdbc.postgresql.org)|72.32.157.228|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 914037 (893K) [application/java-archive]
Saving to: ‘postgresql-42.2.9.jar’

postgresql-42.2.9.j 100%[===================>] 892.61K  3.49MB/s    in 0.2s

2020-11-01 00:19:28 (3.49 MB/s) - ‘postgresql-42.2.9.jar’ saved [914037/914037]

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("CloudETL").config("spark.driver.extraClassPath","/content/postgresql-42.2.9.jar").getOrCreate()

In [ ]:
from pyspark import SparkFiles
# Load in employee.csv from S3 into a DataFrame
url = "https://dayotestdb.s3.us-east-2.amazonaws.com/amazon_reviews_us_Watches_v1_00.tsv"
spark.sparkContext.addFile(url)

# df = spark.read.csv(SparkFiles.get("employee.csv"), sep=",", header=True, inferSchema=True)

df = spark.read.option('header', 'true').csv(SparkFiles.get("amazon_reviews_us_Watches_v1_00.tsv"), inferSchema=True, sep='\t', timestampFormat="mm/dd/yy")
df.show(10)

+-----------+-----------+--------------+----------+--------------+--------------------+----------------+-----------+-------------+-----------+----+-----------------+--------------------+--------------------+-------------------+
|marketplace|customer_id|     review_id|product_id|product_parent|       product_title|product_category|star_rating|helpful_votes|total_votes|vine|verified_purchase|     review_headline|         review_body|        review_date|
+-----------+-----------+--------------+----------+--------------+--------------------+----------------+-----------+-------------+-----------+----+-----------------+--------------------+--------------------+-------------------+
|         US|    3653882|R3O9SGZBVQBV76|B00FALQ1ZC|     937001370|Invicta Women's 1...|         Watches|          5|            0|          0|   N|                Y|          Five Stars|Absolutely love t...|2015-08-31 00:00:00|
|         US|   14661224| RKH8BNC3L5DLF|B00D3RGO20|     484010722|Kenneth Cole New ...|         Watches|          5|            0|          0|   N|                Y|I love thiswatch ...|I love this watch...|2015-08-31 00:00:00|
|         US|   27324930|R2HLE8WKZSU3NL|B00DKYC7TK|     361166390|Ritche 22mm Black...|         Watches|          2|            1|          1|   N|                Y|           Two Stars|           Scratches|2015-08-31 00:00:00|
|         US|    7211452|R31U3UH5AZ42LL|B000EQS1JW|     958035625|Citizen Men's BM8...|         Watches|          5|            0|          0|   N|                Y|          Five Stars|It works well on ...|2015-08-31 00:00:00|
|         US|   12733322|R2SV659OUJ945Y|B00A6GFD7S|     765328221|Orient ER27009B M...|         Watches|          4|            0|          0|   N|                Y|Beautiful face, b...|Beautiful watch f...|2015-08-31 00:00:00|
|         US|    6576411| RA51CP8TR5A2L|B00EYSOSE8|     230493695|Casio Men's GW-94...|         Watches|          5|            0|          0|   N|                Y|       No complaints|i love this watch...|2015-08-31 00:00:00|
|         US|   11811565| RB2Q7DLDN6TH6|B00WM0QA3M|     549298279|Fossil Women's ES...|         Watches|          5|            1|          1|   N|                Y|          Five Stars|for my wife and s...|2015-08-31 00:00:00|
|         US|   49401598|R2RHFJV0UYBK3Y|B00A4EYBR0|     844009113|INFANTRY Mens Nig...|         Watches|          1|            1|          5|   N|                N|I was about to bu...|I was about to bu...|2015-08-31 00:00:00|
|         US|   45925069|R2Z6JOQ94LFHEP|B00MAMPGGE|     263720892|G-Shock Men's Gre...|         Watches|          5|            1|          2|   N|                Y|      Perfect watch!|Watch is perfect....|2015-08-31 00:00:00|
|         US|   44751341| RX27XIIWY5JPB|B004LBPB7Q|     124278407|Heiden Quad Watch...|         Watches|          4|            0|          0|   N|                Y|Great quality and...|Great quality and...|2015-08-31 00:00:00|
+-----------+-----------+--------------+----------+--------------+--------------------+----------------+-----------+-------------+-----------+----+-----------------+--------------------+--------------------+-------------------+
only showing top 10 rows

In [ ]:
from pyspark.sql.functions import column

print(f'The number of records in this dataset is {df.count()}')

The number of records in this dataset is 960872

In [ ]:
review_id_table = df[["review_id", "customer_id", "product_id", "product_parent", "review_date"]]
review_id_table.show()

+--------------+-----------+----------+--------------+-------------------+
|     review_id|customer_id|product_id|product_parent|        review_date|
+--------------+-----------+----------+--------------+-------------------+
|R3O9SGZBVQBV76|    3653882|B00FALQ1ZC|     937001370|2015-08-31 00:00:00|
| RKH8BNC3L5DLF|   14661224|B00D3RGO20|     484010722|2015-08-31 00:00:00|
|R2HLE8WKZSU3NL|   27324930|B00DKYC7TK|     361166390|2015-08-31 00:00:00|
|R31U3UH5AZ42LL|    7211452|B000EQS1JW|     958035625|2015-08-31 00:00:00|
|R2SV659OUJ945Y|   12733322|B00A6GFD7S|     765328221|2015-08-31 00:00:00|
| RA51CP8TR5A2L|    6576411|B00EYSOSE8|     230493695|2015-08-31 00:00:00|
| RB2Q7DLDN6TH6|   11811565|B00WM0QA3M|     549298279|2015-08-31 00:00:00|
|R2RHFJV0UYBK3Y|   49401598|B00A4EYBR0|     844009113|2015-08-31 00:00:00|
|R2Z6JOQ94LFHEP|   45925069|B00MAMPGGE|     263720892|2015-08-31 00:00:00|
| RX27XIIWY5JPB|   44751341|B004LBPB7Q|     124278407|2015-08-31 00:00:00|
|R15C7QEZT0LGZN|    9962330|B00KGTVGKS|      28017857|2015-08-31 00:00:00|
|R361XSS37V0NCZ|   16097204|B0039UT5OU|     685450910|2015-08-31 00:00:00|
| ROTNLALUAJAUB|   51330346|B00MPF0XJQ|     767769082|2015-08-31 00:00:00|
|R2DYX7QU6BGOHR|    4201739|B003P1OHHS|     648595227|2015-08-31 00:00:00|
| RWASY7FKI7QOT|   26339765|B00R70YEOE|     457338020|2015-08-31 00:00:00|
|R2KKYZIN3CCL21|    2692576|B000FVE3BG|     824370661|2015-08-31 00:00:00|
|R22H4FGVD5O52O|   44713366|B008X6JB12|     814431355|2015-08-31 00:00:00|
|R11UACZERCM4ZY|   32778769|B0040UOFPW|     187700878|2015-08-31 00:00:00|
|R1AT8NQ38UQOL6|   27258523|B00UR2R5UY|     594315262|2015-08-31 00:00:00|
|R2NCZRQGIF1Q75|   42646538|B00HFF57L0|     520810507|2015-08-31 00:00:00|
+--------------+-----------+----------+--------------+-------------------+
only showing top 20 rows

In [ ]:
all_products = df.select("product_id", "product_title").distinct()
products = all_products.drop_duplicates(subset=["product_id"])
products.show()

+----------+--------------------+
|product_id|       product_title|
+----------+--------------------+
|B00006I5XQ|TIMEX Men's 20001...|
|B00020J0V8|Timex Indiglo Dre...|
|B000248XD0|Time Teaching Wat...|
|B00024WC7S|Voguestrap TX4831...|
|B000276I02|Men's Seiko Autom...|
|B0002FQI3G|Raymond Weil Pars...|
|B0002IKP78|CITIZEN Men's Sta...|
|B0002KH402|Timex Ironman Dat...|
|B0002M9RP0|TIMEX Women's Two...|
|B0002MQPKA|Disney Ladies Gol...|
|B0002P44YQ|Accutron Oxford W...|
|B0002UFBOS|Kenneth Cole Ladi...|
|B000673UBI|Avalon Coach Seri...|
|B00068TJ7G|Seiko Men's SKH04...|
|B0006BC5AQ|Timex T2B641 (Uni...|
|B0006GN9BA|Invicta Midsize F...|
|B0006HGNDA|Avalon Womens Lux...|
|B0006MFAWK|Nike Presto Sport...|
|B0006MT62U|Longines Dolce Vi...|
|B00075U5KI|Invicta Men's 008...|
+----------+--------------------+
only showing top 20 rows

In [ ]:
from pyspark.sql.functions import col, countDistinct

cust_count = df.groupBy("customer_id").count().sort(col("count").desc())
customers = cust_count.withColumnRenamed("count", "customer_count")
customers.show()

+-----------+--------------+
|customer_id|customer_count|
+-----------+--------------+
|   42418272|           407|
|   40765068|           127|
|   19619134|           121|
|   52460875|           111|
|    5072809|           106|
|   18691646|            92|
|   14726863|            88|
|   13355404|            87|
|   42416004|            86|
|   45112699|            75|
|   44191290|            70|
|   22962882|            66|
|   47769852|            65|
|   23137720|            64|
|   21375608|            59|
|    5956842|            59|
|   25160623|            59|
|    8887467|            58|
|    1389173|            58|
|   24254971|            58|
+-----------+--------------+
only showing top 20 rows

In [ ]:
vine_table = df[["review_id", "star_rating", "helpful_votes", "total_votes", "vine"]]
vine_table.show()

+--------------+-----------+-------------+-----------+----+
|     review_id|star_rating|helpful_votes|total_votes|vine|
+--------------+-----------+-------------+-----------+----+
|R3O9SGZBVQBV76|          5|            0|          0|   N|
| RKH8BNC3L5DLF|          5|            0|          0|   N|
|R2HLE8WKZSU3NL|          2|            1|          1|   N|
|R31U3UH5AZ42LL|          5|            0|          0|   N|
|R2SV659OUJ945Y|          4|            0|          0|   N|
| RA51CP8TR5A2L|          5|            0|          0|   N|
| RB2Q7DLDN6TH6|          5|            1|          1|   N|
|R2RHFJV0UYBK3Y|          1|            1|          5|   N|
|R2Z6JOQ94LFHEP|          5|            1|          2|   N|
| RX27XIIWY5JPB|          4|            0|          0|   N|
|R15C7QEZT0LGZN|          4|            2|          2|   N|
|R361XSS37V0NCZ|          1|            0|          0|   N|
| ROTNLALUAJAUB|          3|            0|          0|   N|
|R2DYX7QU6BGOHR|          5|            0|          0|   N|
| RWASY7FKI7QOT|          5|            2|          3|   N|
|R2KKYZIN3CCL21|          5|            0|          0|   N|
|R22H4FGVD5O52O|          4|            1|          1|   N|
|R11UACZERCM4ZY|          5|            0|          0|   N|
|R1AT8NQ38UQOL6|          5|            0|          0|   N|
|R2NCZRQGIF1Q75|          4|            0|          0|   N|
+--------------+-----------+-------------+-----------+----+
only showing top 20 rows

In [ ]:
mode = "append"
jdbc_url="jdbc:postgresql://database1.cvwelutnfhgq.us-east-2.rds.amazonaws.com:5432/database1"
config = {"user": "root", 
          "password": "12345678", 
          "driver": "org.postgresql.Driver"}

In [ ]:
review_id_table.write.jdbc(url=jdbc_url, table="review_id_table", mode=mode, properties=config)

In [ ]:
products.write.jdbc(url=jdbc_url, table="products", mode=mode, properties=config)

In [ ]:
customers.write.jdbc(url=jdbc_url, table="customers", mode=mode, properties=config)

In [ ]:
vine_table.write.jdbc(url=jdbc_url, table="vine_table", mode=mode, properties=config)

In [3]:
# Import Modules

import pandas as pd

In [4]:
#Connect to Postgresql 

from sqlalchemy import create_engine
engine = create_engine(f'postgresql://root:12345678@database1.cvwelutnfhgq.us-east-2.rds.amazonaws.com:5432/database1')
connection = engine.connect()

In [6]:
# Read vine table using the connection

vines = pd.read_sql('select * from vine_table', connection)
vines.head()

        review_id  star_rating  helpful_votes  total_votes vine
0  R3O9SGZBVQBV76            5              0            0    N
1   RKH8BNC3L5DLF            5              0            0    N
2  R2HLE8WKZSU3NL            2              1            1    N
3  R31U3UH5AZ42LL            5              0            0    N
4  R2SV659OUJ945Y            4              0            0    N

In [14]:
# Query vine table for helpful votes equal and greater than 3

helpful_votes = pd.read_sql('select * from vine_table where helpful_votes >= 3', connection)
helpful_votes.head()

        review_id  star_rating  helpful_votes  total_votes vine
0  R2O0LW0AZ67P3X            5              4            5    N
1  R2DOJG0AT3YOK4            5              4            4    N
2  R3U7UEQ1XUAOW3            5              4            4    N
3   RIALAILRAC32R            5              5           10    N
4  R3LPMDT6H94LH1            2              5            7    N

In [11]:
# Query vine table for total votes equal and greater than 5

total_votes = pd.read_sql('select * from vine_table where total_votes >= 5', connection)
total_votes.head()

        review_id  star_rating  helpful_votes  total_votes vine
0  R2RHFJV0UYBK3Y            1              1            5    N
1  R2O0LW0AZ67P3X            5              4            5    N
2   RIALAILRAC32R            5              5           10    N
3  R3LPMDT6H94LH1            2              5            7    N
4  R1VXWMO2SLRKZ0            4              5            5    N

In [12]:
# Query vine table for helpful votes equal and greater than 3 and total votes equal and greater than 5

all_votes = pd.read_sql('select * from vine_table where helpful_votes >=3 and total_votes >= 5', connection)
all_votes.head()

        review_id  star_rating  helpful_votes  total_votes vine
0  R2O0LW0AZ67P3X            5              4            5    N
1   RIALAILRAC32R            5              5           10    N
2  R3LPMDT6H94LH1            2              5            7    N
3  R1VXWMO2SLRKZ0            4              5            5    N
4  R1VUKCVJ6C0SH5            1             10           12    N