<a href="https://colab.research.google.com/github/dayothompson/Big-Data/blob/main/Level2/ETL_for_Big_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import os
# Find the latest version of spark 2.0  from http://www-us.apache.org/dist/spark/ and enter as the spark version
# For example:
# spark_version = 'spark-2.4.7'
spark_version = 'spark-2.4.7'
os.environ['SPARK_VERSION']=spark_version
# Install Spark and Java
!apt-get update
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://www-us.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop2.7.tgz
!tar xf $SPARK_VERSION-bin-hadoop2.7.tgz
!pip install -q findspark
# Set Environment Variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop2.7"
# Start a SparkSession
import findspark
findspark.init()

Hit:1 http://security.ubuntu.com/ubuntu bionic-security InRelease
Ign:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Ign:3 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:4 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease
Hit:5 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release
Hit:6 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Hit:7 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease
Hit:8 http://archive.ubuntu.com/ubuntu bionic InRelease
Hit:9 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Hit:10 http://archive.ubuntu.com/ubuntu bionic-updates InRelease
Hit:11 http://archive.ubuntu.com/ubuntu bionic-backports InRelease
Reading package lists... Done

In [ ]:
!wget https://jdbc.postgresql.org/download/postgresql-42.2.9.jar

--2020-10-31 22:13:21--  https://jdbc.postgresql.org/download/postgresql-42.2.9.jar
Resolving jdbc.postgresql.org (jdbc.postgresql.org)... 72.32.157.228, 2001:4800:3e1:1::228
Connecting to jdbc.postgresql.org (jdbc.postgresql.org)|72.32.157.228|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 914037 (893K) [application/java-archive]
Saving to: ‘postgresql-42.2.9.jar.3’

postgresql-42.2.9.j 100%[===================>] 892.61K  5.02MB/s    in 0.2s

2020-10-31 22:13:21 (5.02 MB/s) - ‘postgresql-42.2.9.jar.3’ saved [914037/914037]

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("CloudETL").config("spark.driver.extraClassPath","/content/postgresql-42.2.9.jar").getOrCreate()

In [ ]:
# Load csv file from S3 bucket into a DataFrame

from pyspark import SparkFiles
url = "https://dayotestdb.s3.us-east-2.amazonaws.com/amazon_reviews_us_Wireless_v1_00.tsv"
spark.sparkContext.addFile(url)

df = spark.read.option('header', 'true').csv(SparkFiles.get("amazon_reviews_us_Wireless_v1_00.tsv"), inferSchema=True, sep='\t', timestampFormat="mm/dd/yy")
df.show(10)

+-----------+-----------+--------------+----------+--------------+--------------------+----------------+-----------+-------------+-----------+----+-----------------+--------------------+--------------------+-------------------+
|marketplace|customer_id|     review_id|product_id|product_parent|       product_title|product_category|star_rating|helpful_votes|total_votes|vine|verified_purchase|     review_headline|         review_body|        review_date|
+-----------+-----------+--------------+----------+--------------+--------------------+----------------+-----------+-------------+-----------+----+-----------------+--------------------+--------------------+-------------------+
|         US|   16414143|R3W4P9UBGNGH1U|B00YL0EKWE|     852431543|LG G4 Case Hard T...|        Wireless|          2|            1|          3|   N|                Y|Looks good, funct...|2 issues  -  Once...|2015-08-31 00:00:00|
|         US|   50800750|R15V54KBMTQWAY|B00XK95RPQ|     516894650|Selfie Stick Fibl...|        Wireless|          4|            0|          0|   N|                N| A fun little gadget|I’m embarrassed t...|2015-08-31 00:00:00|
|         US|   15184378| RY8I449HNXSVF|B00SXRXUKO|     984297154|Tribe AB40 Water ...|        Wireless|          5|            0|          0|   N|                Y|          Five Stars|  Fits iPhone 6 well|2015-08-31 00:00:00|
|         US|   10203548|R18TLJYCKJFLSR|B009V5X1CE|     279912704|RAVPower® Element...|        Wireless|          5|            0|          0|   N|                Y|       Great charger|Great charger.  I...|2015-08-31 00:00:00|
|         US|     488280|R1NK26SWS53B8Q|B00D93OVF0|     662791300|Fosmon Micro USB ...|        Wireless|          5|            0|          0|   N|                Y|          Five Stars|Great for the pri...|2015-08-31 00:00:00|
|         US|   13334021|R11LOHEDYJALTN|B00XVGJMDQ|     421688488|iPhone 6 Case, Vo...|        Wireless|          5|            0|          0|   N|                Y|          Five Stars|Great Case, bette...|2015-08-31 00:00:00|
|         US|   27520697|R3ALQVQB2P9LA7|B00KQW1X1C|     554285554|Nokia Lumia 630 R...|        Wireless|          4|            0|          0|   N|                Y|          Four Stars|Easy to set up an...|2015-08-31 00:00:00|
|         US|   48086021|R3MWLXLNO21PDQ|B00IP1MQNK|     488006702|Lumsing 10400mah ...|        Wireless|          5|            0|          0|   N|                Y|          Five Stars|         Works great|2015-08-31 00:00:00|
|         US|   12738196|R2L15IS24CX0LI|B00HVORET8|     389677711|iPhone 5S Battery...|        Wireless|          5|            0|          0|   N|                Y|      So far so good|So far so good. I...|2015-08-31 00:00:00|
|         US|   15867807|R1DJ8976WPWVZU|B00HX3G6J6|     299654876|HTC One M8 Screen...|        Wireless|          3|            0|          0|   N|                Y|seems durable but...|seems durable but...|2015-08-31 00:00:00|
+-----------+-----------+--------------+----------+--------------+--------------------+----------------+-----------+-------------+-----------+----+-----------------+--------------------+--------------------+-------------------+
only showing top 10 rows

In [ ]:
# Count the number of records (rows) in the dataset

from pyspark.sql.functions import column

print(f'The number of records in this dataset is {df.count()}')

The number of records in this dataset is 9002021

In [ ]:
# Create Review dataframe

review_id_table = df[["review_id", "customer_id", "product_id", "product_parent", "review_date"]]
review_id_table.show()

+--------------+-----------+----------+--------------+-------------------+
|     review_id|customer_id|product_id|product_parent|        review_date|
+--------------+-----------+----------+--------------+-------------------+
|R3W4P9UBGNGH1U|   16414143|B00YL0EKWE|     852431543|2015-08-31 00:00:00|
|R15V54KBMTQWAY|   50800750|B00XK95RPQ|     516894650|2015-08-31 00:00:00|
| RY8I449HNXSVF|   15184378|B00SXRXUKO|     984297154|2015-08-31 00:00:00|
|R18TLJYCKJFLSR|   10203548|B009V5X1CE|     279912704|2015-08-31 00:00:00|
|R1NK26SWS53B8Q|     488280|B00D93OVF0|     662791300|2015-08-31 00:00:00|
|R11LOHEDYJALTN|   13334021|B00XVGJMDQ|     421688488|2015-08-31 00:00:00|
|R3ALQVQB2P9LA7|   27520697|B00KQW1X1C|     554285554|2015-08-31 00:00:00|
|R3MWLXLNO21PDQ|   48086021|B00IP1MQNK|     488006702|2015-08-31 00:00:00|
|R2L15IS24CX0LI|   12738196|B00HVORET8|     389677711|2015-08-31 00:00:00|
|R1DJ8976WPWVZU|   15867807|B00HX3G6J6|     299654876|2015-08-31 00:00:00|
|R3MRWNNR8CBTB7|    1972249|B00U4NATNQ|     577878727|2015-08-31 00:00:00|
|R1DS6DKTUXAQK3|   10956619|B00SZEFDH8|     654620704|2015-08-31 00:00:00|
| RWJM5E0TWUJD2|   14805911|B00JRJUL9U|     391166958|2015-08-31 00:00:00|
|R1XTJKDYNCRGAC|   15611116|B00KQ4T0HE|     481551630|2015-08-31 00:00:00|
|R2UZL3DPWEU1XW|   39298603|B00M0YWKPM|     685107474|2015-08-31 00:00:00|
|R2EZXET9KBFFU3|   17552454|B00KDZEE68|     148320945|2015-08-31 00:00:00|
|R26VY1L1FD3LPU|   12218556|B00BJN45GM|      47788188|2015-08-31 00:00:00|
|R2SSA4NSFCV18T|   21872923|B00SA86SXW|     748759272|2015-08-31 00:00:00|
|R1G6333JHJNEUQ|   16264332|B00Q3I68TU|     974085141|2015-08-31 00:00:00|
|R2DRG0UZXJQ0PE|    6042304|B00TN4J1TA|     716174627|2015-08-31 00:00:00|
+--------------+-----------+----------+--------------+-------------------+
only showing top 20 rows

In [ ]:
# Create Products dataframe

all_products = df.select("product_id", "product_title").distinct()
products = all_products.drop_duplicates(subset=["product_id"])
products.show()

+----------+--------------------+
|product_id|       product_title|
+----------+--------------------+
|1060104342|Premium Asus MeMO...|
|159775045X|National Geograph...|
|5891090414|           STAND-N02|
|6175001532|Colorful Abstract...|
|9572548964|Pink Flower Purpl...|
|9713000463|Rapid Charger KIT...|
|9838427853|PowerBear® Samsun...|
|9861033181|Purple Flower Blu...|
|9983781239|PREMIUM USB Adapt...|
|9984225437|Sanyo MM-8300 Sta...|
|B00000J0IV|Magellan Leather ...|
|B00000J1PX|Cobra MAVOX Voice...|
|B00003OPEV|Garmin eMap Delux...|
|B0000520T4|Ericsson 650 mAh ...|
|B00005I9QK|Aquapac Waterproo...|
|B00005QT35|Garmin GPS 45 Per...|
|B00006JP9X|AMERICAN INTERNAT...|
|B00007EDL7|Sony DCC-E34CP Po...|
|B00008E1OH|Samsung Leather C...|
|B00008RCQS|Virgin Mobile Pay...|
+----------+--------------------+
only showing top 20 rows

In [ ]:
# Create Customers dataframe

from pyspark.sql.functions import col, countDistinct

cust_count = df.groupBy("customer_id").count().sort(col("count").desc())
customers = cust_count.withColumnRenamed("count", "customer_count")
customers.show()

+-----------+--------------+
|customer_id|customer_count|
+-----------+--------------+
|   30208851|           616|
|   53037408|           493|
|   45070473|           437|
|   49266466|           435|
|   32038204|           427|
|   52870270|           353|
|   44834233|           330|
|   11995502|           319|
|   51346302|           318|
|   43856165|           316|
|   15886030|           292|
|   35353346|           284|
|   12200139|           267|
|   50027179|           266|
|   52228204|           262|
|   13355404|           261|
|   53090839|           261|
|   52496677|           259|
|   51712970|           255|
|   39789300|           242|
+-----------+--------------+
only showing top 20 rows

In [ ]:
# Create Vine dataframe

vine_table = df[["review_id", "star_rating", "helpful_votes", "total_votes", "vine"]]
vine_table.show()

+--------------+-----------+-------------+-----------+----+
|     review_id|star_rating|helpful_votes|total_votes|vine|
+--------------+-----------+-------------+-----------+----+
|R3W4P9UBGNGH1U|          2|            1|          3|   N|
|R15V54KBMTQWAY|          4|            0|          0|   N|
| RY8I449HNXSVF|          5|            0|          0|   N|
|R18TLJYCKJFLSR|          5|            0|          0|   N|
|R1NK26SWS53B8Q|          5|            0|          0|   N|
|R11LOHEDYJALTN|          5|            0|          0|   N|
|R3ALQVQB2P9LA7|          4|            0|          0|   N|
|R3MWLXLNO21PDQ|          5|            0|          0|   N|
|R2L15IS24CX0LI|          5|            0|          0|   N|
|R1DJ8976WPWVZU|          3|            0|          0|   N|
|R3MRWNNR8CBTB7|          5|            0|          0|   N|
|R1DS6DKTUXAQK3|          5|            0|          0|   N|
| RWJM5E0TWUJD2|          5|            0|          0|   N|
|R1XTJKDYNCRGAC|          1|            0|          0|   N|
|R2UZL3DPWEU1XW|          5|            0|          0|   N|
|R2EZXET9KBFFU3|          1|            0|          0|   N|
|R26VY1L1FD3LPU|          5|            0|          0|   N|
|R2SSA4NSFCV18T|          5|            0|          0|   N|
|R1G6333JHJNEUQ|          5|            0|          0|   N|
|R2DRG0UZXJQ0PE|          5|            0|          0|   N|
+--------------+-----------+-------------+-----------+----+
only showing top 20 rows

In [ ]:
# Connect and load dataframes to Postgres RDS instance

mode = "append"
jdbc_url="jdbc:postgresql://database2.cvwelutnfhgq.us-east-2.rds.amazonaws.com:5432/database2"
config = {"user": "root2", 
          "password": "12345678", 
          "driver": "org.postgresql.Driver"}

In [ ]:
review_id_table.write.jdbc(url=jdbc_url, table="review_id_table", mode=mode, properties=config)

In [ ]:
products.write.jdbc(url=jdbc_url, table="products", mode=mode, properties=config)

In [ ]:
customers.write.jdbc(url=jdbc_url, table="customers", mode=mode, properties=config)

In [ ]:
vine_table.write.jdbc(url=jdbc_url, table="vine_table", mode=mode, properties=config)

In [ ]:
# Import Modules

import pandas as pd

In [ ]:
#Connect to Postgresql 

from sqlalchemy import create_engine
engine = create_engine(f'postgresql://root2:12345678@database2.cvwelutnfhgq.us-east-2.rds.amazonaws.com:5432/database2')
connection = engine.connect()

/usr/local/lib/python3.6/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [ ]:
# Read vine table using the connection

vines = pd.read_sql('select * from vine_table', connection)
vines.head()

        review_id star_rating  helpful_votes  total_votes vine
0  R3TRO3B7NHE69G           5            0.0          0.0    N
1   R7UEDLDQBBL8U           4            0.0          0.0    N
2  R2ED8YHKDXF7A2           1            0.0          0.0    N
3  R1AADXYI7ZPRSL           5            0.0          0.0    N
4  R2VV04G9ROQTOH           5            0.0          0.0    N

In [ ]:
# Query vine table for helpful votes equal and greater than 3

helpful_votes = pd.read_sql('select * from vine_table where helpful_votes >= 3', connection)
helpful_votes.head()

        review_id star_rating  helpful_votes  total_votes vine
0  R1DYTCQL7OR9OO           5              4            4    N
1   RXH9U0DMPMZP8           5              4            4    N
2  R2ULE47FBVUMV4           5              3            4    N
3  R1IZNBOV3L5F0S           5             17           18    N
4  R3K4L2QHCC7B2Z           5              7            7    N

In [ ]:
# Query vine table for total votes equal and greater than 5

total_votes = pd.read_sql('select * from vine_table where total_votes >= 5', connection)
total_votes.head()

        review_id star_rating  helpful_votes  total_votes vine
0  R34N59Z4229I5K           5              2            6    N
1  R1IZNBOV3L5F0S           5             17           18    N
2  R3K4L2QHCC7B2Z           5              7            7    N
3  R2WOW0TURNXB26           3             54           59    N
4  R3E0EO8XB9XGNY           5              4            6    N

In [ ]:
# Query vine table for helpful votes equal and greater than 3 and total votes equal and greater than 5

all_votes = pd.read_sql('select * from vine_table where helpful_votes >=3 and total_votes >= 5', connection)
all_votes.head()

        review_id star_rating  helpful_votes  total_votes vine
0  R1IZNBOV3L5F0S           5             17           18    N
1  R3K4L2QHCC7B2Z           5              7            7    N
2  R2WOW0TURNXB26           3             54           59    N
3  R3E0EO8XB9XGNY           5              4            6    N
4   RCGS5U08GZ7QM           1              4            7    N